<div (resized)="handleResize($event)" class="widget-container">
<div>
  Some content to grab and drag the widget
</div>
<dx-chart
  *ngIf="widget.type === 'line'"
  class="gridster-item-content"
  palette="Soft Pastel"
  [dataSource]="dataSource">
  <dxo-zoom-and-pan
    argumentAxis="both"
    >
  </dxo-zoom-and-pan>
  <dxi-series
    *ngFor="let serie of series"
    [valueField]="serie.value"
    [name]="serie.name">
  </dxi-series>
  <dxo-common-series-settings #seriesSettings
    argumentField="timestamp"
    type="area">
  </dxo-common-series-settings>
  <dxo-argument-axis
    discreteAxisDivisionMode="crossLabels"
    [valueMarginsEnabled]="false"
    [visualRange]="{startValue:90, endValue:100}">
    <dxo-grid [visible]="true"></dxo-grid>
  </dxo-argument-axis>
  <dxo-scroll-bar [visible]="true"></dxo-scroll-bar>
  <dxo-legend
    verticalAlignment="bottom"
    horizontalAlignment="center"
    itemTextPosition="right">
  </dxo-legend>
  <dxo-title
    horizontalAlignment="center"
    text="Top 5 test agents by response time">
    <dxo-subtitle text="(Subtitle)">
    </dxo-subtitle>
  </dxo-title>
  <dxo-tooltip
    [enabled]="true"
    [customizeTooltip]="customizeTooltip">
  </dxo-tooltip>
</dx-chart>
<dx-data-grid
    *ngIf="widget.type === 'es'"
    class="gridster-item-content"
    [dataSource]="monitors"
    [masterDetail]="{ enabled: true, template: 'detail' }"
    keyExpr="id"
    [showColumnLines]="false"
    [showBorders]="true">

    <dxo-load-panel [enabled]="true"></dxo-load-panel>

    <dxi-column dataField="name" caption="Name"></dxi-column>
    <dxi-column dataField="tags" caption="Tags" [width]="120" [allowSorting]="false"></dxi-column>
    <dxi-column dataField="es" caption="Custom header template" [allowSorting]="false" cellTemplate="esBarCellTemplate"></dxi-column>
    <dxi-column dataField="sla" [width]="60" caption="SLA"></dxi-column>
    <dxi-column type="buttons" caption="Share" [width]="60">
      <dxi-button
        hint="Share"
        icon="message"
        [visible]="true"
        [onClick]="null">
      </dxi-button>
    </dxi-column>

    <div *dxTemplate="let monitor of 'detail'">
        <div class="master-detail-caption">{{monitor.data.name + "'s tasks:"}}</div>
        <dx-data-grid
            [dataSource]="getTasks(monitor.key)"
            [showBorders]="true"
            [columnAutoWidth]="true">
                <dxi-column dataField="Subject"></dxi-column>
                <dxi-column dataField="StartDate" dataType="date"></dxi-column>
                <dxi-column dataField="DueDate" dataType="date"></dxi-column>
                <dxi-column dataField="Priority"></dxi-column>
                <dxi-column dataType="boolean" caption="Completed" [calculateCellValue]="completedValue"></dxi-column>
        </dx-data-grid>
    </div>
    <div *dxTemplate="let monitor of 'esBarCellTemplate'">
      <div>
          <img [src]="getEsBarImage(monitor)"/>
      </div>
  </div>
</dx-data-grid>
</div>
